.fila {
    margin-top: 5%;
    width: 100%;
    border: 1px solid blue;
}

#item {
    width: 90%;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
}

.label {
    width: 65%;
    font-size: 1.5rem;
    border: 1px solid blue;
}

#selector{
    width: 35%;
    border: 1px solid red;
    font-size: 1.5rem;
}

