<ion-row>
    <ion-list>
        <ion-item>
            <ion-label>Elegi una Opcion</ion-label>
            <ion-select placeholder="" [value]="this.borrar()" (ionChange)="menuComida($event)">
                <ion-select-option value="carnes">Carnes</ion-select-option>
                <ion-select-option value="panaderia">Panaderia</ion-select-option>
                <ion-select-option value="pasta">Pasta</ion-select-option>
                <ion-select-option value="pasteleria">Pasteleria</ion-select-option>
                <ion-select-option value="videos">Videos</ion-select-option>
                <ion-select-option value="portada">Portada</ion-select-option>
                <ion-select-option value="perfil">Perfil</ion-select-option>
            </ion-select>
        </ion-item>

    </ion-list>

</ion-row>